<!DOCTYPE html>
<!--
Developers.nl 2018
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Klanten overzicht</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div><h1>Klanten overzicht</h1></div>
        <div>
            <table>
                <tr><th>Voornaam</th><th>Achternaam</th></tr>
                <!-- TOOD: fix href. Placeholder wordt niet ingevuld. String wordt urlencoded -->
                <tr th:each="cust : ${customers}"><td th:text="${cust.firstName}">VOORNAAM</td><td th:text="${cust.lastName}">ACHTERNAAM</td><td><a href="/customer/remove/id" th:href="@{/customer/remove/{custId}(custId=${cust.id})}">x</a></td></tr>
            </table>
            <form action="/customer" method="POST"><p>Voeg nieuwe klant toe</p>
                <input type="text" name="voornaam"></input>
                <input type="text" name="achternaam"></input>
                <input type="submit"></input>
            </form>
        </div>
    </body>
</html>
